<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_report.css') }}" />
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet" />

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap"
      rel="stylesheet" />
    <title>CODEEG Test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>

  <body>
    <header>
      <div class="header-content">
        <div class="logo">
          <h1>MUSINSA</h1>
        </div>
        <div class="search-bar">
          <select class="category-select">
            <option>All Categories</option>
          </select>
          <input type="text" class="search-input" placeholder="Search for products" />
          <button class="icon-button" aria-label="Search">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              width="24"
              height="24"
              fill="currentColor">
              <path
                d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
            </svg>
          </button>
        </div>
      </div>
    </header>

    <nav class="navbar">
      <div class="navbar-left">
        <div class="dropdown">
          <button class="dropdown-toggle">☰ BROWSE CATEGORIES</button>
          <div class="dropdown-menu">
            <a href="#">Category 1</a>
            <a href="#">Category 2</a>
            <a href="#">Category 3</a>
          </div>
        </div>
        <a href="#" class="nav-link">HOME &#9662;</a>
        <a href="#" class="nav-link">SHOP &#9662;</a>
        <a href="{{ url_for('report') }}" class="nav-link">REPORT &#9662;</a>
      </div>
      <div class="navbar-right">
        <button class="codeeg-button" onclick="location.href='{{ url_for('start_page') }}'">
          CODEEG
        </button>
        <button class="wishlist-button">♡</button>
        <button class="cart-button">
          <img
            src="{{ url_for('static', filename='images/cart.png') }}"
            alt="Cart Icon"
            class="cart-icon" />
        </button>
      </div>
    </nav>

    <nav>
      <div class="header-container">
        <div class="header-title">CODEEG TEST</div>
        <img
          src="{{ url_for('static', filename='images/CODEEG_logo.png') }}"
          alt="Logo"
          class="header-logo" />
      </div>
      <hr />
    </nav>
    <main>
      <div class="report-c">
        <h1 class="report-title">Report</h1>
        <button class="download-button" onclick="generatePDF()">Download</button>
      </div>
      <!-- <hr /> -->
      <section class="selected-clothes">
        <h2>Selected Clothes</h2>
        <div class="clothing-grid" style="display: flex; flex-direction: column; gap: 40px">
          <!-- Top Images -->
          <div
            class="image-group"
            style="display: flex; flex-direction: row; justify-content: center; gap: 20px">
            {% for image in top_images %}
            <img
              src="{{ url_for('static', filename='images/result/tops/' + image) }}"
              alt="Top Clothing"
              style="width: 150px; height: auto" />
            {% endfor %}
          </div>
          <!-- Bottom Images -->
          <div
            class="image-group"
            style="
              display: flex;
              flex-direction: row;
              justify-content: center;
              gap: 20px;
              margin-bottom: 15px;
            ">
            {% for image in bottom_images %}
            <img
              src="{{ url_for('static', filename='images/result/bottoms/' + image) }}"
              alt="Bottom Clothing"
              style="width: 150px; height: auto" />
            {% endfor %}
          </div>
        </div>
      </section>

      <hr />
      <section class="top-outfits">
        {% set images_1 = all_images['best_1'] %} {% if images_1.tops and images_1.bottoms %} {% set
        top_1 = images_1.tops[0] %} {% set bottom_1 = images_1.bottoms[0] %}
        <div class="outfit">
          <h3>Best combination 1</h3>
          <div class="outfit-content">
            <img
              src="{{ url_for('static', filename='images/result/combination/best_1/bottom_output.jpg') }}"
              alt="Combination Model" />
            <div class="outfit-details">
              {# Top Item #}
              <div class="item">
                <div class="image-and-text">
                  <img
                    src="{{ url_for('static', filename='images/result/combination/best_1/' + top_image_1) }}"
                    alt="Top Image" />
                  <div>
                    <div class="clothes-type">Top</div>
                    <div class="clothes-name">{{ top_1.name }}</div>
                    <div class="clothes-color">Color: {{ top_1.color }}</div>
                    <div class="clothes-price">{{ top_1.price }}원</div>
                    <button class="shop-button">Shop Now</button>
                  </div>
                </div>
              </div>
              {# Bottom Item #}
              <div class="item">
                <div class="image-and-text">
                  <img
                    src="{{ url_for('static', filename='images/result/combination/best_1/' + bottom_image_1) }}"
                    alt="Bottom Image" />
                  <div>
                    <div class="clothes-type">Bottom</div>
                    <div class="clothes-name">{{ bottom_1.name }}</div>
                    <div class="clothes-color">Color: {{ bottom_1.color }}</div>
                    <div class="clothes-price">{{ bottom_1.price }}원</div>
                    <button class="shop-button">Shop Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="button-container">
            <button class="add-to-cart">+ Add to Cart</button>
          </div>
        </div>
        {% endif %} {% set images_2 = all_images['best_2'] %} {% if images_2.tops and
        images_2.bottoms %} {% set top_2 = images_2.tops[0] %} {% set bottom_2 = images_2.bottoms[0]
        %}
        <div class="outfit">
          <h3>Best combination 2</h3>
          <div class="outfit-content">
            <img
              src="{{ url_for('static', filename='images/result/combination/best_2/bottom_output.jpg') }}"
              alt="Combination Model" />
            <div class="outfit-details">
              {# Top Item #}
              <div class="item">
                <div class="image-and-text">
                  <img
                    src="{{ url_for('static', filename='images/result/combination/best_2/' + top_image_2) }}"
                    alt="Top Image" />
                  <div>
                    <div class="clothes-type">Top</div>
                    <div class="clothes-name">{{ top_2.name }}</div>
                    <div class="clothes-color">Color: {{ top_2.color }}</div>
                    <div class="clothes-price">{{ top_2.price }}원</div>
                    <button class="shop-button">Shop Now</button>
                  </div>
                </div>
              </div>
              {# Bottom Item #}
              <div class="item">
                <div class="image-and-text">
                  <img
                    src="{{ url_for('static', filename='images/result/combination/best_2/' + bottom_image_2) }}"
                    alt="Bottom Image" />
                  <div>
                    <div class="clothes-type">Bottom</div>
                    <div class="clothes-name">{{ bottom_2.name }}</div>
                    <div class="clothes-color">Color: {{ bottom_2.color }}</div>
                    <div class="clothes-price">{{ bottom_2.price }}원</div>
                    <button class="shop-button">Shop Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="button-container">
            <button class="add-to-cart">+ Add to Cart</button>
          </div>
        </div>
        {% endif %} {% set images_3 = all_images['best_3'] %} {% if images_3.tops and
        images_3.bottoms %} {% set top_3 = images_3.tops[0] %} {% set bottom_3 = images_3.bottoms[0]
        %}
        <div class="outfit">
          <h3>Best combination 3</h3>
          <div class="outfit-content">
            <img
              src="{{ url_for('static', filename='images/result/combination/best_3/bottom_output.jpg') }}"
              alt="Combination Model" />
            <div class="outfit-details">
              {# Top Item #}
              <div class="item">
                <div class="image-and-text">
                  <img
                    src="{{ url_for('static', filename='images/result/combination/best_3/' + top_image_3) }}"
                    alt="Top Image" />
                  <div>
                    <div class="clothes-type">Top</div>
                    <div class="clothes-name">{{ top_3.name }}</div>
                    <div class="clothes-color">Color: {{ top_3.color }}</div>
                    <div class="clothes-price">{{ top_3.price }}원</div>
                    <button class="shop-button">Shop Now</button>
                  </div>
                </div>
              </div>
              {# Bottom Item #}
              <div class="item">
                <div class="image-and-text">
                  <img
                    src="{{ url_for('static', filename='images/result/combination/best_3/' + bottom_image_3) }}"
                    alt="Bottom Image" />
                  <div>
                    <div class="clothes-type">Bottom</div>
                    <div class="clothes-name">{{ bottom_3.name }}</div>
                    <div class="clothes-color">Color: {{ bottom_3.color }}</div>
                    <div class="clothes-price">{{ bottom_3.price }}원</div>
                    <button class="shop-button">Shop Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="button-container">
            <button class="add-to-cart">+ Add to Cart</button>
          </div>
        </div>
        {% endif %}
      </section>
    </main>
    <footer class="footer">
      <hr />
      <div class="footer__aside-bottom">
        <div class="footer__copyright text-sm text-subdued" style="float: left">
          © 2024 CODEEG. All Rights Reserved
        </div>
        <div class="footer__right" style="float: right">
          <div class="footer__payment-icons h-stack wrap gap-2">
            <img
              src="{{ url_for('static', filename='images/pages/visa_logo.jpg') }}"
              alt="Visa"
              width="38"
              height="24" />
            <img
              src="{{ url_for('static', filename='images/pages/Google_Pay_Logo.jpg') }}"
              alt="Google Pay"
              width="38"
              height="24" />
            <img
              src="{{ url_for('static', filename='images/pages/amazon_pay_logo.jpg') }}"
              alt="Amazon Pay"
              width="38"
              height="24" />
            <img
              src="{{ url_for('static', filename='images/pages/paypal_logo.jpg') }}"
              alt="PayPal"
              width="38"
              height="24" />
          </div>
        </div>
        <div class="footer_right">
          <h6 padding-right="">English (IN) &#8377; INR</h6>
        </div>
      </div>
    </footer>
  </body>
</html>
